##############################################################
#
# List of approvers/reviewers for the Playwright demo
#
##############################################################

# These owners will be the default owners for everything in the repo.

* @lianecartmn @netwear7